:root {
    --backColor: #313492;
    --btnColor: #6f2cdb;
    --resultColor: #272958;
}

@font-face {
    font-family: 'JoseonPalace';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGs.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    color: inherit;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.dn {
    display: none;
}

.dfcc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ma {
    margin: auto;
}

.fwb {
    font-weight: bold;
}

.btn-base {
    height: 40px;
    border: none;
    border-radius: 4px;
    background-color: var(--btnColor);
    cursor: pointer;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: 'JoseonPalace';
}

header {
    width: 100%;
    height: 56px;
    background-color: white;
    padding: 0px 32px;
    display: flex;
    align-items: center;
}

.img-case {
    width: 100%;
    display: flex;
    align-items: center;
}

.img-case img {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    object-fit: cover;
    cursor: pointer;
}

@media (max-width: 1612px) {
    header .img-case {
        max-width: 1050px;
    }
}

section {
    width: 100%;
    height: calc(100% - 56px);
    background-color: var(--backColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.asdqwe {
    height: calc((35vh - 56px) / 2);
}

.print-span {
    width: 35vw;
    min-width: 400px;
    height: calc(((65vh * 0.1) * 3 + ((35% - 56px) / 2)));
    font-size: 240px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.correct-count-case {
    width: 100vw;
    min-width: 400px;
    height: 6.5vh;
    background-color: var(--resultColor);
    margin: 2.5vh 0px;
}

.correct-rate-case {
    width: 35vw;
    min-width: 400px;
    height: 32.5vh;
    background-color: var(--resultColor);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.print-result {
    width: 65%;
    height: 45%;
    font-size: 112px;
}

.go-home-button {
    width: 16%;
    min-width: 48px;
}