.container {
    font-family: 'JoseonPalace';
}

section {
    width: 100%;
    height: calc(100% - 56px);
    background-color: var(--backColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.print-span {
    width: 35vw;
    min-width: 400px;
    height: calc(((65vh * 0.1) * 3 + ((35% - 56px) / 2)));
    font-size: 240px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.correct-count-case {
    width: 100vw;
    min-width: 400px;
    height: 6.5vh;
    background-color: var(--resultColor);
    margin: 2.5vh 0px;
}

.correct-rate-case {
    width: 35vw;
    min-width: 400px;
    height: 32.5vh;
    background-color: var(--resultColor);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.print-result {
    width: 65%;
    height: 45%;
    font-size: 112px;
}

.go-home-button {
    width: 16%;
    min-width: 48px;
}