section {
    width: 100%;
    height: calc(100% - 56px);
    background-color: var(--backColor);
    padding: 0px 32px;
}

.quiz-zone {
    width: 70vw;
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.passage-box {
    width: 35%;
    height: 60%;
    background-color: cadetblue;
    min-width: 400px;
    padding: 0px 16px;
    display: flex;
    flex-direction: column;
}

.passage-box .number {
    font-size: 24px;
    padding: 8px 0px;
}

.drop-hope {
    width: 100vw;
    height: calc(30% - 48px);
    font-size: 48px;
}

.drop-hope-img {
    width: 35%;
    height: 60%;
    min-width: 400px;
    object-fit: cover;
}

.answer-input-box {
    width: 50%;
    min-width: 400px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.result-case {
    width: 100%;
    height: calc(30% - 48px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.printPassage {
    font-size: 32px;
}

.answer {
    width: calc(100% - 48px - 16px);
    height: 48px;
    margin-right: 24px;
    padding: 0px 16px;
    border-radius: 4px;
    border: none;
    outline: none;
    color: black;
}

.result {
    margin: 2.5vh 0px;
}

.passage {
    font-size: 2vh;
}

.next-btn {
    width: 48px;
    position: relative;
}

.next-btn img {
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rotate(180deg) translate(45%, 50%);
}

.test-score-btn {
    width: 96px;
}

.button {
    width: 20%;
    min-width: 48px;
}