:root {
    --backColor: #313492;
    --btnColor: #6f2cdb;
}

* {
    margin: 0;
    padding: 0;
    color: inherit;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}



.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 56px;
    background-color: white;
    padding: 0px 32px;
    display: flex;
    align-items: center;

    .img-case {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;

        @media (max-width: 1612px) {
            max-width: 1050px;
        }

        img {
            width: 40px;
            height: 40px;
            border-radius: 4px;
            object-fit: cover;
            cursor: pointer;
        }
    }
}

section {
    width: 100%;
    height: calc(100% - 56px);
    background-color: var(--backColor);
    padding: 0px 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    .quiz-zone {
        width: 70vw;
        height: 65vh;
        margin: 0px 48px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .passage-box {
            width: 35%;
            height: 60%;
            background-color: cadetblue;
            min-width: 400px;
            padding: 0px 16px;
            display: flex;
            flex-direction: column;
            color: white;

            .number {
                font-size: 24px;
                font-weight: bold;
                padding: 8px 0px;
            }

            .passage {
                font-size: 18px;
            }
        }

        .drop-hope-img {
            width: 35%;
            height: 60%;
            min-width: 400px;
            object-fit: cover;
        }

        .answer-input-box {
            width: 50%;
            height: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: end;
            min-width: 400px;

            .drop-hope {
                width: 100vw;
                height: calc(100% - 48px);
                color: white;
                font-weight: bold;
                font-size: 48px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .result-case {
                width: 100%;
                height: calc(100% - 48px);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .result {
                    color: white;
                    font-size: 16px;
                    font-weight: 500;
                }

                .printPassage {
                    color: white;
                    font-weight: bold;
                    font-size: 32px;
                }


            }

            .input-bar {
                width: 100%;
                height: 48px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .answer {
                    width: calc(100% - 48px - 15px);
                    height: 48px;
                    font-size: 16px;
                    margin-right: 24px;
                    border-radius: 4px;
                    border: none;
                    outline: none;
                    padding: 0px 15px;
                }

                .next-btn {
                    width: 48px;
                    height: 48px;
                    border: none;
                    border-radius: 4px;
                    background-color: var(--btnColor);
                    cursor: pointer;
                    position: relative;
                    margin: auto;

                    img {
                        height: 60%;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: rotate(180deg) translate(45%, 50%);
                    }
                }

                .test-score-btn {
                    width: 96px;
                    height: 48px;
                    border-radius: 4px;
                    border: none;
                    background-color: var(--btnColor);
                    cursor: pointer;
                    margin: auto;
                    color: white;
                    font-weight: bold;
                    font-size: 16px;
                }

                .button {
                    height: 48px;
                    border-radius: 4px;
                    border: none;
                    padding: 0px 15px;
                    background-color: var(--btnColor);
                    color: white;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
        }
    }
}

.dn {
    display: none;
}